@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');
:root{
    --bg: #f1e493;
    --text:#f5ce3a;
    --col1opt1: #cece2f;
    --col1opt2: #aead00;
    --col1opt3: #818001;
    --col2opt1: #f5ce3a;
    --col2opt2: #b96a01;
    --col2opt3: #922400;
    --opacity1:#f1e49395;
    --opacity2:#636801d6;
    --gridSize:2vw;
    --outline: #636801;
}
html {
    overflow: -moz-scrollbars-vertical; 
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    background-color: var(--bg);
    color:var(--text);
    font-family: 'Overpass Mono', monospace;
    padding: 0;
    margin: 0;
}
::selection {
    background-color: var(--col1opt1);
    color: var(--col2opt3);
}
hr{
    /* margin: 3% 0 0 6%;  */
    border: 2px solid var(--col1opt2);
    opacity: 40%;
}
h1{ /* main title */
    margin: 0;
    width: fit-content;
    text-transform: uppercase;
    font-size:50px;
    font-weight: bold;
    line-height: 55px;
    background-color: var(--col2opt2);
    padding: 5px 20px;
    border: 4px solid var(--outline);
}
h2{ /* 2nd title */
    margin: 30px 0 0 0;
    width: fit-content;
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;
}
h3{ /* 2nd title */
    margin: 5px 0 0 0;
    width: fit-content;
    font-size:16px;
}
p{ 
    margin: 0;
    width: fit-content;
    font-size:16px;
}
#bg{
    width:auto;
    height: 100vh;
    object-fit: contain;
    z-index: -1;
}
#projectInfo{
    position: absolute;
    top:0;
    right:0;
    padding: 0 4vw 0 4vw;
    /* background-color: var(--opacity1); */
    width: 22vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#clickInfo{
    width: 80%;
    min-height: 170px;
    background-color:#636801;
    color: var(--text);
    border: 4px solid var(--col1opt2);
    padding: 2vw;
    margin: 10vh 0 0 0;
}
.cityPixel{
    position: absolute;
    top:10px;
    left:10px;
    /* width: 1vw;
    height: 1vw;
    border-radius: 50%; */
    width: var(--gridSize);
    height: var(--gridSize);
    background-color: var(--col2opt1);
    color: var(--col2opt3);
    /* border: 1px solid var(--col2opt2); */
    z-index: 9;
}
.cityPixel:hover{
    /* opacity:80%; */
    mix-blend-mode:color-dodge;
    cursor: pointer;
}
.zoom-in{
    /* display: none; */
    position: absolute;
    top:10vw;
    left:10vw;
    width: var(--gridSize);
    height: var(--gridSize);
    background-color: var(--col2opt3);
    border: 4px solid var(--text);
    cursor: zoom-in;
    z-index: 7;
}
.zoom-in:hover{
    mix-blend-mode: color-dodge;
}
#zoom-out{
    /* display: none; */
    position: absolute;
    top:10vw;
    left:10vw;
    width: var(--gridSize);
    height: var(--gridSize);
    background-color: var(--col2opt3);
    border: 4px solid var(--text);
    cursor: zoom-out;
    z-index: 7;
}
#zoom-out:hover{
    mix-blend-mode: color-dodge;
}
.imgsArr{
    position: absolute;
    top:10px;
    left:10px;
    width: calc(3*var(--gridSize));
    height: calc(3*var(--gridSize));
    z-index: 3;
    object-fit: cover;
    opacity: 80%;
    /* background-color: var(--col2opt3); */
}
.hoverText{
    position: absolute;
    top:10px;
    left:10px;
    /* width: 15vw; */
    width: fit-content;
    height: fit-content;
    background-color: var(--opacity2);
    opacity: 90%;
    color: var(--col2opt1);
    z-index: 8;/* going over zoom*/
    padding:10px;
    cursor: pointer;
}
.grid{
    position: absolute;
    top:0px;
    left:0px;
    width: var(--gridSize);
    height: var(--gridSize);
    border: 0.1px solid var(--col2opt2);
    opacity: 20%;
    z-index: 2;
}
#ruleButton{
    position: absolute;
    top:4vw;
    right:4vw;
    width: var(--gridSize);
    height: var(--gridSize);
    background-color: var(--outline);
    color: var(--text);
    border: 4px solid var(--col1opt2);
    z-index: 5;
}
#ruleButton p{
    font-size: 26px;
    margin: auto;
} 
#ruleButton:hover{
    opacity:70%;
    mix-blend-mode: multiply;
    cursor: pointer;
}    
#rulePopup{
    position: absolute;
    top:5vw;
    right:5vw;
    width: 15vw;
    height: auto;
    background-color: var(--opacity2);
    color: var(--col2opt1);
    z-index: 6;
    padding: 20px;
    opacity: 90%;
    cursor: pointer;
}
#progress{
    /* background-color:var(--col2opt3);
    border: 2px solid var(--col1opt2); */
    position: absolute;
    /* padding: 1vw; */
    top:0.5vw;
    left:0.5vw;
    width: 30vw;
    height: fit-content;
}
#progressBar{
    width: 30vw;
    height: 0.2vw;
    background-color: var(--text);
    z-index: 5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#progressWrapper{
    width: 30vw;
    height: 1vw;
    display: flex;
    justify-content: space-between;
}
.progressIcon{
    width: 0.8vw;
    height: 0.8vw;
    z-index: 5;
    transform: rotate(45deg);  
}
.active{
    background-color: var(--col2opt3);
    border: 2px solid var(--text);
}
.deactive{
    background-color: var(--col1opt1);
    border: 2px solid var(--text);
}
.progressIcon:hover{
    background-color: var(--col2opt2);
    animation: rotatePixel 2s ease-in-out;
}
@keyframes rotatePixel {
    0% {transform: rotate(45deg);}
    50% {transform: rotate(90deg);}
    100% {transform: rotate(45deg);}
  }